<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Encrypt Test</title>
    <link rel="stylesheet" href="../../static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h1 class="text">Encrypt Test</h1>
    {% if text %}
    <p class="text">
      You input: <em>{{ text }}</em>, and the cipher-text is:
      <em>{{ ciphered }}</em>
    </p>
    <p class="text">The id in the database is: <em>{{ insert_id }}</em></p>
    {% else %}
    <p class="text">
      Input some text after the /encrypt/ in the URL so I can cipher it.
    </p>
    {% endif %}

    <a href="/encrypt" class="text">Return to Home Page</a>
  </body>
</html>
