<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Encryption Program</title>
    <link rel="stylesheet" href="../../styles.css">
</head>
<body>
    <form action="/encrypt" method="post">
        Text to Encrypt: <input type="text" name="text_to_encrypt" required><br><br>
        Shift Value: <input type="number" name="shift_value" required><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>